<div class="card">
    <div class="card-header card-header-primary">
        <h4 class="card-title">
            Mis productos
            <button class="btn btn-secondary float-right"
                routerLink="/vendedor/products/form">
                Añadir
            </button>
        </h4>
        <!-- <p class="card-category">Un texto pa que trin</p> -->
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <div class="container-search">
                <i class='bx bx-search-alt'></i>
                <input type="text" class="search text" placeholder="Busca aquí...">
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th>Categoria</th>
                        <th>Cantidad</th>
                        <th>Fecha de vencimiento</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let producto of productos">
                        <td>{{ producto.nombre }}</td>
                        <td>{{ producto.precio | currency }}</td>
                        <td>{{ producto.categoria.nombre }}</td>
                        <td>{{ producto.cantidad }}</td>
                        <td>{{ producto.fechaVencimiento }}</td>
                        <td>
                            <i class='bx bxs-pencil pointer mr-2 text-primary'
                                [routerLink]="'/vendedor/products/form/' + producto.id">
                            </i>
                            <i class='bx bxs-trash-alt pointer ml-2 text-danger'
                                (click)="deleteProduct(producto.id)">
                            </i>
                        </td>
                    </tr>
                </tbody>
            </table>
            <mat-paginator [length]="totalElements" [pageSizeOptions]="[10, 50, 100]" aria-label="Select page">
            </mat-paginator>
        </div>
    </div>
</div>