<div class="content">
    <div class="header">
        <h4 class="title text-light h1">La cava D&D</h4>
    </div>
    <div class="galery-container">
        <div class="container d-flex justify-content-between">
            <div class="card shadow-sm" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Esto es un producto</h5>
                    <p class="card-text">
                        {{ 1000 | currency: 'USD' }}
                    </p>
                </div>
            </div>
            <div class="card shadow-sm" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Esto es un producto</h5>
                    <p class="card-text">
                        {{ 1000 | currency: 'USD' }}
                    </p>
                </div>
            </div>
            <div class="card shadow-sm" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Esto es un producto</h5>
                    <p class="card-text">
                        {{ 1000 | currency: 'USD' }}
                    </p>
                </div>
            </div>
            <div class="card shadow-sm" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Esto es un producto</h5>
                    <p class="card-text">
                        {{ 1000 | currency: 'USD' }}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="hr title">Los productos que usted necesita</div>
    <div class="sub-hr text-info text-dark mb-4 mt-4">No busque más</div>
    <div class="info-container">
        <div class="group mb-3">
            <div class="group__text">
                <div>
                    <h4 class="title mb-3">Bebidas Artesanales</h4>
                    <p class="text-info text-dark">
                        Si es fanático de las bebidas artesanales, ha venido al lugar
                        correcto. En La Cava D&D proveemos a nuestros clientes con los
                        mejores productos artesanales del mercado para asegurar su buena
                        salud y satisfacción. Somos líderes en la industria de bebidas
                        artesanales y nos aseguramos de que nuestros clientes lo sepan.
                        Revise nuestros productos en inventario para llenar su carrito.
                    </p>
                </div>
            </div>
            <div class="group__img">
                <img class="rounded" src="assets/img/bedidas_artesanales.jpg" alt="">
            </div>
        </div>
        <div class="group mb-3" style="height: 550px;">
            <div class="group__img">
                <img class="rounded" src="assets/img/producto_calidad.jpg" alt="">
            </div>
            <div class="group__text">
                <div>
                    <h4 class="title mb-3">Productos de calidad</h4>
                    <p class="text-info text-dark">
                        Ofrecemos a nuestros clientes Productos de calidad. Ponemos a su disposición
                        una amplia gama de opciones para que siempre vuelvan contentos.
                        Aquí podrá encontrar todo lo que busca, y con gusto pondremos
                        nuestros productos en su mesa. ¡Consulte nuestro catálogo aquí!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>