<nav class="navbar navbar-light top" style="background-color: #fff; margin-bottom: 0;">
    <div>
        <h4 class="title">La cava D&D</h4>
        <span class="text text-dark">Proveedor lider en bedidas de calidad</span>
    </div>
    <div class="controls">
        <i class='bx bx-home pointer icons' routerLink="/home" routerLinkActive="active_router"></i>
        <i class='bx bx-search-alt pointer icons' routerLink="/search" routerLinkActive="active_router"></i>
        <i class='bx bx-cart pointer icons' routerLink="/cart" routerLinkActive="active_router"></i>
        <i class='bx bx-user pointer icons' [matMenuTriggerFor]="menu"></i>
            <mat-menu #menu="matMenu">
                <div *ngIf="!isVisible">
                    <button routerLink="/login" mat-menu-item>
                        <i class='bx bx-log-in icons pointer'></i>
                        Iniciar sesión
                    </button>
                </div>
                <div *ngIf="isVisible">
                    <button routerLink="/profile" mat-menu-item>
                        <i class='bx bxs-user-account icons'></i>
                        Mi perfil
                    </button>
                    <button routerLink="/login" mat-menu-item (click)="logOut()">
                        <i class='bx bx-log-out pointer icons'></i>
                        Salir
                    </button>
                </div>
            </mat-menu>        
    </div>
</nav>