<nav class="navbar navbar-light fixed-top" style="background-color: #fff; margin-bottom: 0;">
    <div>
        <h4 class="title">La cava D&D</h4>
        <span class="text text-dark">Proveedor lider en bedidas de calidad</span>
    </div>
    <div class="controls">
        <i class='bx bx-home pointer icons' routerLink="/home"></i>
        <i class='bx bx-search-alt pointer icons' routerLink="/search"></i>
        <i class='bx bx-shopping-bag pointer icons'></i>
        <i class='bx bx-user pointer icons' routerLink="/login"></i>
    </div>
</nav>