<div style="margin-top: 8rem;">
    <div class="container">
        <div class="container-button">
            <div class="container-items">
                <input type="text" placeholder="Busca una cerveza...">
                <button class="btn btn-dark button">Buscar</button>
            </div>
        </div>
    </div>    
    <div class="row" style="margin: 0;">
        <div class="col-lg-2">
            <div class="container-categories">
                <h5 class="title">Categorias</h5>
                <ul class="container-list">
                    <li *ngFor="let categoria of categorias"
                        class="text-info text-dark h4 pointer item-list">{{ categoria.nombre }}</li>
                </ul>
            </div>
        </div>
        <div class="col-lg-10">
            <div class="product-grid">
                <div class="card shadow-sm">Producto</div>
                <div class="card shadow-sm">Producto</div>
                <div class="card shadow-sm">Producto</div>
                <div class="card shadow-sm">Producto</div>
            </div>
        </div>
    </div>
</div>