@import "../../../assets/_scss/variables";

.container-button {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    .container-items {
        box-shadow: 0 3px 12px rgba(0, 0, 0, 0.175);
        width: 60%;
        padding: 10px 5px;
        background: $white;
        border-radius: 4px;

        input {
            border: 0;
            width: 82%;
            padding-left: 8px;
            font-family: $slate;
            font-size: 18px;
        }

        button {
            border-radius: 10px;
            padding: 0.4rem 1.5rem;
            color: $white;
            border: 1px solid $black;            
        }
    }
}

.container-categories {
    padding: 0 15px;
}

.container-list {
    display: contents;
    list-style: none;
    li {
        margin-bottom: 12px;
        padding: 5px 0;
        width: 60%;
    }
}

.product-grid {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;

    .card{
        height: 23rem;
        border-radius: 1.5rem;
        padding: 0 1rem;
        cursor: pointer;
        width: 15rem;

        .img-container{
            margin-top: -4rem;
            text-align: center;
            img{
                filter: brightness(1.1);
                mix-blend-mode: multiply;
            }
        }

        h5{
            font-weight: bold;
            font-size: 1.3rem;
        }

        h6{
            font-size: 600;
            font-size: 1rem;
        }
    }
}

button:hover{
    background: $orange !important;
    border-color: $orange !important;
}

.item-list:hover::after {
    width: 100%;
}

.item-list::after {
    content: "";
    display: block;
    width: 0;
    height: 1px;
    background: $orange;
    transition: width 0.3s;
}

input:focus {
    outline: none;
}

@media (max-width: 500px) {
    .product-grid {
        grid-template-columns: repeat(1, 2fr);
        align-items: center;
    }
}
