<div>
    <div class="container">
        <div class="container-button">
            <div class="container-items">
                <input type="text" placeholder="Busca una cerveza...">
                <button class="btn btn-dark button">Buscar</button>
            </div>
        </div>
    </div>    
    <div class="row" style="margin: 0;">
        <div class="col-lg-3">
            <div class="container-categories">
                <h5 class="title">Categorias</h5>
                <ul class="container-list">
                    <li class="text-info text-dark h4 pointer">Cervezas</li>
                    <li class="text-info text-dark h4 pointer">Vinos</li>
                    <li class="text-info text-dark h4 pointer">Wiskhy</li>
                    <li class="text-info text-dark h4 pointer">Ñequeñeque</li>
                </ul>
            </div>
        </div>
        <div class="col-lg-9">
            <h3 class="text-info text-center text-dark">Acá los productos</h3>
        </div>
    </div>
</div>