//Colores
$white: #ffffff;
$black: hsl(226, 43%, 10%);//#000000;
$gray: #E6E6E6;
$bg_gray: #F3F1F5;
$orange: hsl(43, 84%, 65%);//#EF6C00;

//Fonts
@font-face{
    font-family: linotype;
    src: url("../fonts/DidotLH_Bold.otf");
}

@font-face {
    font-family: slate;
    src: url("../fonts/slate_pro_light.otf");
}

@font-face {
    font-family: 'Balerno Serif Bold Free';
    src: url('../fonts/Balerno-RgF.eot');
}

$linoType: 'linoType', italic;
$slate: 'slate';
$balermo: 'Balerno', sans-serif;