<div class="sidebar" data-color="purple" data-background-color="white" data-image="assets/img/sidebar-2.jpg">
    <div class="logo"><a href="http://www.creative-tim.com" class="simple-text logo-normal">
            La Cava D&D
        </a></div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="nav-item" *ngFor="let menu of menus" routerLinkActive="active">
                <a class="nav-link" [routerLink]="menu.path">
                    <i class="material-icons">{{ menu.icons }}</i>
                    <p>{{ menu.nombre }}</p>
                </a>
            </li>
        </ul>
    </div>
</div>