.container-not-found{
    background: url('../../../assets/img/bg_not_found.jpg') no-repeat center;
    background-size: cover;
    height: 100vh;
}

button{
    border-radius: 10px;
    background: rgb(163, 6, 5);
    border-color: rgb(163, 6, 5);
}