@import "./assets/_scss/variables";

* {
    margin: 0;
    padding: 0;
}

.navbar {
    position: fixed;
    top: 0;
    display: flex;
    padding: 20px 30px;
    box-shadow: 0 1px 5px $gray;
    z-index: 10;
    width: 100%;
    border-radius: 0;
    .controls {
        display: flex;
        justify-content: space-between;
        width: 20%;
        i {
            font-size: 20px;
        }
    }
}

.hr {
    text-align: center;
    font-size: x-large;
    margin-bottom: 10px;
}

.sub-hr {
    text-align: center;
    font-size: 25px;
    margin: 10px 0;
}

.card {
    border: 0;
    padding: 8px;
    min-height: 200px;
}

.bg-orange {
    background: $orange;
}

.full {
    width: 100%;
}

button{
    outline: none !important;
}

.orange{
    color: $orange;
}

.bg-dark{
    background: $black !important;
}

.card-header{
    background: $orange !important;
}

.text-orange{
    color: $orange;
}

.active{
    a{
        background: $orange !important;
    }
}

.container-search{
    margin: 0.4rem 0;
    border-bottom: 1px solid $gray !important;
    width: 60%;
    .bx{
        font-size: 1.1rem;
        margin-right: 0.4rem;
    }
    input{
        border: 0;
        width: 80%;
        font-size: 1.1rem;
    }
}

//Router
.active_router{
    color: $orange;
}
//End Router

//Start Text
.title {
    font-family: $linoType !important;
    text-transform: uppercase !important;
}

.text {
    font-family: $slate !important;
}
//End Text

//Alerts
.toast {
    position: absolute;
    top: 10px;
    z-index: 999999;
    right: 0;
    left: 0;
    margin: 0 auto;

    .toast-header{
        color: $black;
    }

    .toast-body {
        background: $white !important;
        color: $black;
        font-size: 1rem;
    }
}

//Events
.pointer {
    cursor: pointer;
}

.icons:hover {
    color: $orange;
}

.button:hover {
    background: $orange;
    border-color: $orange;
}
//End events
// body{ background: #fff; }