@import "./assets/_scss/variables";

* {
    margin: 0;
    padding: 0;
}

.navbar {
    position: fixed;
    top: 0;
    display: flex;
    padding: 20px 30px;
    box-shadow: 0 1px 5px $gray;
    z-index: 10;
    width: 100%;
    border-radius: 0;
    .controls {
        display: flex;
        justify-content: space-between;
        width: 20%;
        i {
            font-size: 20px;
        }
    }
}

.hr {
    text-align: center;
    font-size: x-large;
    margin-bottom: 10px;
}

.sub-hr {
    text-align: center;
    font-size: 25px;
    margin: 10px 0;
}

.card {
    border: 0;
    padding: 8px;
    min-height: 200px;
}

.card:hover{
    transition: box-shadow .1s ease-out;
    box-shadow: 0 7px 16px 0 rgb(0 0 0 / 20%), 0 1px 3px 0 rgb(0 0 0 / 10%);
}

.bg-orange {
    background: $orange;
}

.bg-gray{
    background: $gray;
}

.bx-2x{
    font-size: 2rem !important;
}

.full {
    width: 100%;
}

button {
    outline: none !important;
}

.orange {
    color: $orange;
}

.bg-dark {
    background: $black !important;
}

.card-header {
    background: $orange !important;
}

.text-orange {
    color: $orange !important;
}

.active {
    a {
        background: $orange !important;
    }
}

.container-search {
    margin: 0.4rem 0;
    border-bottom: 1px solid $gray !important;
    width: 60%;
    .bx {
        font-size: 1.1rem;
        margin-right: 0.4rem;
    }
    input {
        border: 0;
        width: 80%;
        font-size: 1.1rem;
    }
}

.no-bg {
    filter: brightness(1.1);
    mix-blend-mode: multiply;
}

.btn-border-orange{
    border: 1px solid $orange;
    border-radius: 0.7rem;
    background: transparent;
    color: $orange;
}

.hr-orange{
    border: 1px solid;
    border-color: $orange;
}

.product-grid {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;

    .card{
        height: 23rem;
        border-radius: 1.5rem;
        padding: 0 1rem;
        width: 14rem;

        .img-container{
            margin-top: -4rem;
            text-align: center;
            cursor: pointer;

            img{
                height: 18rem;
                width: 10rem;
            }
        }

        h5{
            font-weight: bold;
            font-size: 1.3rem;
        }

        h6{
            font-size: 600;
            font-size: 1rem;
        }
    }
}

.table-container{
    min-height: 15rem;
    overflow: auto;
}

//Router
.active_router {
    color: $orange;
}
//End Router

//Start Text
.title {
    font-family: $linoType !important;
    text-transform: uppercase !important;
}

.text {
    font-family: $slate !important;
}

.text-b{
    font-family: $balermo !important;
}
//End Text

//Alerts
.toast {
    position: fixed;
    top: 10px;
    z-index: 999999;
    right: 0;
    left: 0;
    margin: 0 auto;

    .toast-header {
        color: $black;
    }

    .toast-body {
        background: $white !important;
        color: $black;
        font-size: 1rem;
    }
}

//Events
.pointer {
    cursor: pointer;
}

.icons:hover {
    color: $orange;
}

.button:hover {
    background: $orange;
    border-color: $orange;
}

.btn:hover{
    background: $black;
    color: $white !important;
}
//End events
body{ background: $bg_gray !important; }
