<div class="card">
    <div class="card-header card-header-primary">
        <h4 class="card-title ">Titulo de tabla</h4>
        <p class="card-category">Un texto pa que trin</p>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table">
                <thead class="text-primary">
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Andrés</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>