@import '../../../../assets/_scss/variables';

.bg{
    background: url('/assets/img/bg_sign_in.jpg') no-repeat center;
    background-size: cover;
}

.container-img{
    width: 30rem;
    height: 35rem;
    img{
        width: 100%;
        height: 100%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
}

.container-form{
    height: 35rem;
    width: 35rem;
    padding: 1rem;
    background: $white;
    margin: 1rem 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}