<div class="container" style="height: 100vh; margin-top: 8rem;">
    <div class="d-flex justify-content-between bg-white shadow-sm p-3">
        <div class="container-table-cart" style="width: 58%;">
            <h2 class="title">Carrito de <span class="text-orange">compras.</span></h2>
            <table class="table">
                <thead class="text-orange">
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                    <th></th>
                </thead>
                <tbody></tbody>
            </table>
            <div class="d-flex justify-content-between align-items-center">
                <button class="btn bg-dark">
                    Volver
                </button>
                <div>
                    <h5 class="text-b">
                        <span class="fw-bold">Subtotal:</span> 
                    </h5>
                    <h5 class="text-b">
                        <span class="fw-bold">Total:</span> 
                    </h5>
                </div>
            </div>
        </div>
        <div class="container-payment p-3 rounded" style="width: 38%; background: #171717;">
            <h3 class="title text-light">Información de pago.</h3>
            <hr>
            <div class="form-group text-light text-b h4">
                <label class="fw-bold">Método de pago</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group text-light text-b h4">
                <label class="fw-bold">Nombre del propietario</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group text-light text-b h4">
                <label class="fw-bold">Número de tarjeta</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group text-light text-b h4">
                <label class="fw-bold">Fecha de expiración</label>
                <input type="date" class="form-control">
            </div>
            <button class="btn bg-orange btn-block rounded">Pagar</button>
        </div>
    </div>
</div>