<footer class="text-center text-dark" style="margin: 0;">
    <ul>
        <li class="text">
            <i class='bx bxs-phone'></i>
            3012199969
        </li>
        <li class="text">
            <i class='bx bxs-home' ></i>
            Campestre mza 17 lote 16 2 etapa
        </li>
        <li>
            <i class='bx bxl-facebook-square pointer'></i>
            <i class='bx bxl-twitter pointer'></i>
            <i class='bx bxl-instagram-alt pointer'></i>
        </li>
        <li class="text">
            &copy; {{ fecha | date:'yyyy' }} la Cava D&D
        </li>
    </ul>
</footer>